
PORT=4000
NODE_ENV=development
BACKEND_URL=https://your-backend-app.onrender.com

DATABASE_URL=your_mongodb_connection_string

JWT_SECRET=your_super_secret_key

SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SENDER_EMAIL=your_email_address
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
